
		main {
			padding-bottom: 40rem;
		  }
		  section {
			padding: 2rem;
			margin: 0 0 2rem 0;
		  }
  
		  .intro-card{
			  /*background-color: white;*/
			  background-color: rgb(0,0,0); /* Fallback color */
				background-color: rgba(0,0,0, 0.7); 
			  color: white;
			  max-width: 500px;
			  padding: 50px;
			  position: absolute;
			  bottom:0;
			  height: auto;
			  right: 38%;
			  border-radius: 15px 0px 0px 0px;
		  }
  
		  @media only screen and (max-device-width: 1366px) {
			.intro-card {
			  background-attachment: scroll;
			  width: auto;
			  position: all;
			  right: 0;
			  padding: 5px 10px;
			  font: 18px/30px Garamond;
  
		  }}
  
		  .intro{
			  
			  word-spacing: 1.5;
			  font: 20px/30px Garamond;
		  }
  
		  .namer{
			  max-width: 500px;
			  word-spacing: 1.5;
			  font: 30px/50px Garamond;
		  }
		  
		  .parallax1 {
			/* The image used */
			background-image: url('IMG_2267.jpg');
  
			/* Full height */
			height: 100%; 
  
			/* Background Blur 
			filter: blur(8px);
			  -webkit-filter: blur(8px);*/
  
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		  }
  
		  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
		  @media only screen and (max-device-width: 1366px) {
			.parallax1 {
			  background-attachment: scroll;
			  background-image: url('IMG_2266.jpg');
		  }}
  
		  .parallax1-image{
			  background: rgba(255, 255, 255, 0.2); 
			  backdrop-filter: blur(8px); 
			  height: 100%;
			  width: 62.1%;
		  }
		  @media only screen and (max-device-width: 1366px) {
			.parallax1-image {
			  background-attachment: scroll;
			  width: 0%;
		  }}
  
  
		  .parallax5 {
			/* The image used */
			background-image: url('school3.png');
  
			/* Full height*/ 
	  
  
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 150%;
  
			font-family: Garamond;
		  }
  
		  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
		  @media only screen and (max-device-width: 1366px) {
			.parallax5 {
			  background-attachment: scroll;
                          Background-size: 100% 100%;
		  }}
  
		  .parallax3 {
			/* The image used */
			background-image: url('airplanes.png');
  
			background-color: white;
			/* Full height */
			height: auto; 
  
			/* Background Blur 
			filter: blur(8px);
			  -webkit-filter: blur(8px);*/
  
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size:auto;
  
			font-family: Garamond;
		  }
  
		  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
		  @media only screen and (max-device-width: 1366px) {
			.parallax3 {
			  background-attachment: scroll;
		  }}
		  
		  .parallax4 {
			/* The image used */
			background-image: url('school-backdrop.jpg');
  
			height: auto;
			/* Background Blur 
			filter: blur(8px);
			  -webkit-filter: blur(8px);*/
  
			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size:cover;
		  }
  
		  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
		  @media only screen and (max-device-width: 1366px) {
			.parallax4 {
			  background-attachment: scroll;
		  }}
  
		  .parallax3-image{
			  backdrop-filter: blur(0px); 
			  height: auto;
			  width: all;
			  background-size:50%; 
		  }
		  .ed-image{
			  padding: 30px;
			  background-size: auto;
		  }
		  .ed-image:hover{
			  height: auto;
			  width: all;
			  
			  background-size: absolute;
			  width: 100%;
				height: 100%;
		  }
  
		  * {
			box-sizing: border-box;
			padding: 0%;
		  }
  
		  html {
			scroll-behavior: smooth;
		  }
		  
		  /* The actual timeliner (the vertical ruler) */
		  
  
		  body {
			background-color: #474e5d;
			font-family: Garamond;
			color: white;
			width: auto;
		  }
		  body, html {
				height: 100%;	
		  }
  
  
		  /* The actual timeliner (the vertical ruler) */
		  .timeliner {
			  padding-bottom: 50px;
			  padding-top: 50px;
			   position: relative;
				max-width: 1200px;
				margin: 0 auto;
				color: black;
				font-family: Garamond;
  
		  }
  
		  /* The actual timeliner (the vertical ruler) */
		  .timeliner::after {
			content: '';
			position: absolute;
			width: 6px;
			background-color: black;
			top: 0;
			bottom: 0;
			left: 50%;
			margin-left: -3px;
  
			border-color: cyan;
			border-width: 2px;
		  }
  
		  /* containers around content */
		  .containers {
			padding: 10px 40px;
			position: relative;
			background-color: inherit;
			width: 50%;
		  }
  
		  /* The circles on the timeliner */
		  .containers::after {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			right: -12.5px;
			background-color: white;
			border: 4px solid cyan;
			top: 15px;
			border-radius: 50%;
			z-index: 1;
		  }
  
		  /* Place the containers to the left */
		  .lefty {
			left: 0;
		  }
  
		  /* Place the containers to the right */
		  .righty {
			left: 50%;
		  }
  
		  /* Add arrows to the left containers (pointing right) */
		  .lefty::before {
			content: " ";
			height: 0;
			position: absolute;
			top: 22px;
			width: 0;
			z-index: 1;
			right: 30px;
			border: medium solid black;
			border-width: 10px 0 10px 10px;
			border-color: transparent transparent transparent black;
		  }
  
		  /* Add arrows to the right containers (pointing left) */
		  .righty::before {
			content: " ";
			height: 0;
			position: absolute;
			top: 22px;
			width: 0;
			z-index: 1;
			left: 30px;
			border: medium solid black;
			border-width: 10px 10px 10px 0;
			border-color: transparent black transparent transparent;
		  }
  
		  /* Fix the circle for containerss on the right side */
		  .righty::after {
			left: -12.5px;
		  }
  
		  
		  /* The actual content */
		  .content {
			padding: 20px 30px;
			background-color: white;
			position: relative;
			border-radius: 6px;
			border: 2px solid black;
		  }
  
		  /* Media queries - Responsive timeliner on screens less than 600px wide */
		  @media screen and (max-width: 600px) {
			/* Place the timelime to the left */
			.timeliner::after {
			left: 31px;
			}
			
			/* Full-width containerss */
			.containers {
			width: 100%;
			padding-left: 70px;
			padding-right: 25px;
			}
			
			/* Make sure that all arrows are pointing leftwards */
			.containers::before {
			left: 60px;
			border: medium solid white;
			border-width: 10px 10px 10px 0;
			border-color: transparent white transparent transparent;
			}
  
			/* Make sure all circles are at the same spot */
			.lefty::after, .righty::after {
			left: 15px;
			}
			
			/* Make all right containerss behave like the left ones */
			.righty {
			left: 0%;
			}
		  }
	  
		  
		  .foot{
			  background-image: url(foot.png);
			  background-attachment: fixed;
			  background-position: bottom;
			  font: 22px Garamond, bold;
			  height:auto; 
			  padding: 0px 20px 20px 20px;
		  }
  
		  .foot p{
			  font-size: 20px;
		  }
  
		  .contact-feedback {
			  display: flex;
				flex-wrap: wrap;
			  padding: 30px;
			  border-color: rgb(200,211,032);
			  border-width: 2px;
  
		  }
  
		  .contact-feedback > div {
			
			text-align: center;
		  }
  
		  .contact {
			  width: auto;
			  background-color: white;
			  height: auto;
			  width: 400px;
		  }
  
		  .feedback {
			  border-radius: 25px;
			  width: auto;
			  background-color: cyan;
			  padding: 20px;
			  right: 40%;
			  left: 40%;
		  }
  
		  .introcolumn {
			float: left;
			width: 33.33%;
			height:auto;
		  }
  
  
		  /* Clear floats after image containerss */
		  .introw::after {
			content: "";
			clear: both;
			display: table;
			height: auto;
		  }
		  
		  @media only screen and (max-device-width: 1366px) {
			.introcolumn {
			  width: 100%;
			  float: none;
			  padding: 0;
		  }}
  
		  /* containers for flexboxes */
		  .row1 {
			  background-color: black;
				color: white;
			   border-radius: 25px;
				float: center;
				font-weight: bold;
		  }
		  .row2 {
			  display: flex;
			  flex-wrap: wrap;
			  
  
			  height: 600px;
			  padding:0;
			  margin:0;
  
			  top:0;
			  left:0;
  
			  width: 100%;
			  height: 100%;
			
		  }
  
		  /* Create four equal columns */
		  .column1 {
			
			flex: 25%;
			transition: transform .3s;
			background-size: cover;
			
			height: auto;
			min-height:200px;
			width: auto; 
			overflow: hidden;
		  }
  
		  .column1:hover {
			  overflow: hidden;
		  }
  
  
		  /* On screens that are 992px wide or less, go from four columns to two columns */
		  @media screen and (max-width: 992px) {
			.column2 {
			  flex: 50%;
			}
		  }
		  .column2 {	
			flex: 25%;
			transition: transform .3s;
  
			background-size: cover;
		   
			height: auto;
			width: auto;
  
			min-height:300px;
		  }
  
		  .column2:hover {
				overflow: hidden;
		  }
  
		  .column3 {
			  flex: 25%;
			  transition: transform .3s;
			  background-size: cover;
			  
			  height: auto;
			  width: auto;
			  min-height:300px;
			  overflow: hidden;
		  }
  
		  .column3:hover {
			overflow: hidden;
		  }
  
		  
		  /* On screens that are 992px wide or less, go from four columns to two columns */
		  @media screen and (max-width: 992px) {
			.column3 {
			  flex: 50%;
			}
		  }
  
		  
		  /* On screens that are 992px wide or less, go from four columns to two columns */
		  @media screen and (max-width: 992px) {
			.column1 {
			  flex: 50%;
			}
		  }
  
  
  
		  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
		  @media screen and (max-width: 600px) {
			.row1 {
			  flex-direction: column;
			}
		  }
		  @media screen and (max-width: 600px) {
			.row2 {
			  flex-direction: column;
			}
		  }
  
		  .xml-diagram{
			  
			  background-size: auto;
			  background-position: relative; 
			  background-blend-mode: hue;
			  height: auto;
			  padding-bottom: 2%;
			  padding-top: 2%;
			  position: cover;
		  }
  
		  .mxgraph{
			  background-color: rgb(0,255,255);
  
		  }
		  #mxgraph {
			border-radius: 25px;
			border: 2px solid #73AD21;
			padding: 20px; 
			width: 200px;
			height: 150px; 
		  }
  
		  .boxer{
			  background-color: rgb(0,0,0,0.5);
			  padding: 10px 20px;
			  border-radius: 20px 0px;
		  }
		  .boxer-image:hover{
		  	backdrop-filter: blur(8px); 
		  }
  
		  .school3-info{
			  background-color: rgb(200,255,255,0.9);
			  border-radius: 15px;
			  height: 100%;
			  max-width: 300px;
			  color: black;
			  font: 17px;
			  padding: 10px;
		  }
  
		  .school3-info p{
			  font-size: 18px;
		  }
  
  
		  @media only screen and (max-device-width: 1366px) {
			  .column1{
				  min-height: 200px;
			  }
		  }
  
  
		  mark{
		   background-color: rgb(0,0,0,0.8);
		   color: white;
		   border-spacing: all;
		   padding-left: 3px;
		   padding-right: 3px;
		   padding-bottom: 5px;
		   padding-top: 5px; 
		  }	
  
  
		  p.highlighter-head{
			  width: 150px;
				background-color: rgb(0,0,0,0.8);
				color: white;
				border-radius: 10px;
				border: solid black;
				width: auto;
				font-weight: bold;
				padding: 0 15px 0 10px;
				margin: 4px -15px 4px 0px;
				font-size: 25px;
		  }
  
		  p.highlighter-subhead{
			  width: 150px;
				background-color: cyan;
				color: #1d1d1e;
				border-radius: 25px;
				width: auto;
				float: left;
				padding: 0 15px 0 10px;
				margin: 4px -15px 4px 0px;
				font-size: 20px; 
		  }
  
		  
  
		  .card{
			  padding: 20px 20px 0px 20px;
			  min-width: 300px;
			  max-width: 400px;
			  height: auto;
  
		  }
		  
		  .card-decker{
			  border: 2px solid black;
		  }
		  .card-img-top{
			  height: 50%;
			  width: 50%;
			  background-size: auto;
		  }
		  .decker{
			  height: auto;
			  padding: 50px;
			  align-content: center;
			  position: relative;
		  }
		  @media only screen and (max-device-width: 1366px) {
			  .decker{
				  padding: 20px 0px 20px 0px;
			  }
			  .card{
				  padding: 1px;
				  width: auto;
			  }
			  .card-img-top{
				  padding: 1px;
			  }
			  .project-shelf{
				  position: 1px;
			  }
		  }
